apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: app
spec:
  type: LoadBalancer
  selector:
    app: learningsteps
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000    