apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  type: LoadBalancer # Triggers Azure to create a public IP
  ports:
  - port: 80
    targetPort: 8000
  selector:
    app: learningsteps