name: Deploy Workflow

on:
  push:
    branches:
      - main
    paths:
      - 'Dockerfile'
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  verify-integrity:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository Code
        uses: actions/checkout@v4

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/learningsteps-api:v1 -t ${{ secrets.ACR_LOGIN_SERVER }}/learningsteps-api:v1-${{ github.sha }} .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          # Pointing to the specific SHA tag we just built locally
          image-ref: '${{ secrets.ACR_LOGIN_SERVER }}/learningsteps-api:v1-${{ github.sha }}'
          format: 'table'
          exit-code: '1' # Build stops here if vulnerabilities are found
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

      - name: Log Status and Push Image
        if: success()
        run: |
          echo "Pipeline Integrity Verified - Security Scan Passed"
          docker push "${{ secrets.ACR_LOGIN_SERVER }}/learningsteps-api:v1"
          docker push "${{ secrets.ACR_LOGIN_SERVER }}/learningsteps-api:v1-${{ github.sha }}"