name: Deploy Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  verify-integrity:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Ruff
        run: pip install ruff

      - name: Run Ruff Linter
        # This will fail the build if it finds errors in the api folder
        run: ruff check api/        

      - name: Run Checkov
        uses: bridgecrewio/checkov-action@master
        with:
          # Scans the entire repository for .tf files
          directory: . 
          framework: terraform
          # 'false' stops the pipeline if security issues are found
          check: HIGH, CRITICAL
          soft_fail: false 
          output_format: cli

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build Docker image
        working-directory: ./api
        # tag 1 is floating tag - this the current stable version 1
        # tag 2 (github.sha) is the immutable or unique tag because the github.sha
        # changes with every single commit (tag is a unique fingerprint)
        run: docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/learningsteps-api:v1 -t ${{ secrets.ACR_LOGIN_SERVER }}/learningsteps-api:v1-${{ github.sha }} .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          # Pointing to the specific SHA tag we just built locally
          image-ref: '${{ secrets.ACR_LOGIN_SERVER }}/learningsteps-api:v1-${{ github.sha }}'
          format: 'table'
          exit-code: '1' # Build stops here if vulnerabilities are found
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

      - name: Secret Check
        run: |
          if [ -z "${{ secrets.ACR_LOGIN_SERVER }}" ]; then
            echo "ERROR: Secret ACR_LOGIN_SERVER is EMPTY"
            exit 1
          else
            echo "Secret is found and has a length of ${#ACR_VAL} characters."
          fi
        env:
          ACR_VAL: ${{ secrets.ACR_LOGIN_SERVER }}

      - name: Log Status and Push Image
        if: success()       
        run: |
          echo "Pipeline Integrity Verified - Security Scan Passed"
          docker push "${{ secrets.ACR_LOGIN_SERVER }}/learningsteps-api:v1"
          docker push "${{ secrets.ACR_LOGIN_SERVER }}/learningsteps-api:v1-${{ github.sha }}"
    
  deploy-to-aks:
    needs: verify-integrity
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Whitelist Runner IP
        uses: azure/CLI@v1
        with:
          inlineScript: |
            # 1. Get Runner IP
            RUNNER_IP=$(curl -s https://api.ipify.org)
            echo "Runner IP is $RUNNER_IP"
            
            # 2. Get existing ranges
            EXISTING_RANGES=$(az aks show \
              --resource-group learningstepsRG \
              --name learningsteps-aks \
              --query "apiServerAccessProfile.authorizedIpRanges" \
              -o tsv | tr '\t' ',')
            
            # 3. Add Runner IP to list
            if [ -z "$EXISTING_RANGES" ]; then
              NEW_RANGES="$RUNNER_IP/32"
            else
              NEW_RANGES="$EXISTING_RANGES,$RUNNER_IP/32"
            fi
            
            # 4. Update AKS
            az aks update \
              --resource-group learningstepsRG \
              --name learningsteps-aks \
              --api-server-authorized-ip-ranges $NEW_RANGES
            
            echo "Waiting 60s for Azure firewall propagation..."
            sleep 60          

      - name: Set AKS Context
        uses: azure/aks-set-context@v4
        with:
          resource-group: "learningstepsRG"
          cluster-name: "learningsteps-aks"

      - name: Update AKS Deployment
        run: |
          # 1. Apply all (manifests)
          kubectl apply -f kubernetes/      
          
          # 2. Update the image to the latest version built in the pipeline
          kubectl set image deployment/learningsteps-api api="${{ secrets.ACR_LOGIN_SERVER }}/learningsteps-api:v1-${{ github.sha }}" -n app
          
          # 3. Monitor the rollout to ensure it doesn't fail (e.g., ImagePullBackOff)
          kubectl rollout status deployment/learningsteps-api -n app

      - name: Debug AKS rollout on failure
        if: failure()
        run: |
          kubectl get pods -o wide
          kubectl describe deployment learningsteps-api
          kubectl describe pods -l app=learningsteps-api

      - name: Cleanup Runner IP
        if: always()
        uses: azure/CLI@v1
        with:
          inlineScript: |
            RUNNER_IP=$(curl -s https://api.ipify.org)
            CURRENT_RANGES=$(az aks show -g learningstepsRG -n learningsteps-aks --query "apiServerAccessProfile.authorizedIpRanges" -o tsv | tr '\t' ',')
            
            # Remove only the runner's IP from the string
            CLEANED_RANGES=$(echo $CURRENT_RANGES | sed "s|$RUNNER_IP/32||g" | sed 's/,,/,/g' | sed 's/^,//;s/,$//')
            
            az aks update \
              --resource-group learningstepsRG \
              --name learningsteps-aks \
              --api-server-authorized-ip-ranges "$CLEANED_RANGES"          